{% extends 'base.html' %}
{% block content %}
<div class="nav bg-info">
    <h1 class="text-light" style="margin-left: 40%;">Registration</h1>
</div>
        
<div class="container bg-light" style="border-radius: 10px; width:50%">
        <form action="{% url 'register' %}" method="post" class="form pt-5 pb-5" style="width: 50%; margin-left:25%">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name"><br>
            <input type="text" name="last_name" placeholder="Last Name"><br>
            <input type="text" name="Username" placeholder="Username"><br>
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password1" placeholder="password"><br>
            <input type="password" name="password2" placeholder="Confirm Password"><br>
            <button type="submit" class="btn btn-outline-info" style="margin-left: 40%;">Submit</button>
            <br>
            <p class='text-muted'>Already a member. <a href="#">Login</a></p>
        </form>
</div>
<div>{% for message in messages %}
             <h3>{{message}}</h3>
             {% endfor %}
</div>
{% endblock %}









